html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.vui-app {
    width: 100%;
    height: 100%;
    position: relative;
}

.vui-header {
    padding: 5px 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.vui-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.vui-upload {
    padding-left: 20px;
}

.vui-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    opacity: 0.8;
}

.vui-icon:hover {
    opacity: 1;
}

.vui-icon-info {
    background-image: url("./images/info.svg");
}

.vui-icon-passed {
    background-image: url("./images/passed.svg");
}

.vui-icon-failed {
    background-image: url("./images/failed.svg");
}

.vui-icon-github {
    background-image: url("./images/github.svg");
}

.vui-icon-close {
    background-image: url("./images/chrome-close.svg");
}

.vui-icon-arrow-right {
    background-image: url("./images/arrow-right.svg");
}

.vui-body {
    position: relative;
    overflow: hidden;
}

.vui-no-report-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        font-size: 16px;
        padding-right: 20px;
    }
}

/*
filter
*/
.vui-filter {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    .vui-input {
        input {
            padding-right: 25px;
            background-image: url("./images/search.svg");
            background-repeat: no-repeat;
            background-position: right 5px center;
            background-size: 15px 15px;
        }
    }
}

/*
grid
*/

.vui-grid {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .tg-row {
        .tg-cell {
            border-right: none;
        }

        .vui-icon {
            opacity: 1;
            pointer-events: none;
            width: 16px;
            height: 100%;
            background-size: 16px 16px;
            background-color: #fff;
        }

        .tg-align-center .vui-icon {
            margin: 0 auto;
        }

        .color-match {
            color: midnightblue;
        }

        .vui-percent {
            width: 100%;
            height: 15px;
            border: 1px solid #888;
            border-radius: 3px;
            margin-top: 6px;
        }
    }
}

/*
flyover
*/

.tg-flyover-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.vui-flyover-main {
    height: 100%;
    overflow: hidden;
}

.vui-flyover-header {
    background-color: #666;
    padding: 0 10px;
}

.vui-flyover-icon {
    cursor: pointer;
    padding: 9px 0;
}

.vui-flyover-title {
    height: 41px;
    line-height: 41px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.vui-flyover-content {
    overflow: hidden;
}

.vui-codes {
    font-family: monospace;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;

    pre,
    code {
        margin: 0;
        padding: 0;
    }
}

.vui-current-codes {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

    pre::before,
    pre::after {
        display: none;
    }
}
